[Desktop Entry]
Type=Application
Name=Eyedropper
X-XDP-Autostart=com.github.finefindus.eyedropper
Exec=flatpak run --command=eyedropper com.github.finefindus.eyedropper --gapplication-service
X-Flatpak=com.github.finefindus.eyedropper
