.tiled {
  color: rgba(143, 188, 187, 1); /* nord7 */
  opacity: 1;
  border-width: 3px;
}

.split {
  color: rgba(191, 97, 106, 1); /* nord11 */
  opacity: 1;
  border-width: 3px;
}

.stacked {
  color: rgba(208, 135, 112, 1); /* nord12 */
  opacity: 1;
  border-width: 3px;
}

.tabbed {
  color: rgba(136, 192, 208, 1); /* nord8 */
  opacity: 1;
  border-width: 3px;
}

.floated {
  color: rgba(180, 142, 173, 1); /* nord15 */
  border-width: 3px;
  opacity: 1;
}

.window-tiled-border {
  border-width: 3px;
  border-color: rgb(143, 188, 187); /* nord7 */
  border-style: solid;
  border-radius: 14px;
}

.window-split-border {
  border-width: 3px;
  border-color: rgb(191, 97, 106); /* nord11 */
  border-style: solid;
  border-radius: 14px;
}

.window-split-horizontal {
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

.window-split-vertical {
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
}

.window-stacked-border {
  border-width: 3px;
  border-color: rgb(129, 161, 193); /* nord9 */
  border-style: solid;
  border-radius: 14px;
}

.window-tabbed-border {
  border-width: 3px;
  border-color: rgb(136, 192, 208); /* nord8 */
  border-style: solid;
  border-radius: 14px;
}

.window-tabbed-bg {
  border-radius: 8px;
}

.window-tabbed-tab {
  background-color: rgba(46, 52, 64, 1); /* nord0 */
  border-color: rgba(136, 192, 208, 0.6); /* nord8 */
  border-width: 1px;
  border-radius: 8px;
  color: rgb(236, 239, 244); /* nord6 */
  margin: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.window-tabbed-tab-active {
  background-color: rgb(136, 192, 208); /* nord8 */
  color: rgb(46, 52, 64); /* nord0 */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.window-tabbed-tab-close {
  padding: 3px;
  margin: 4px;
  border-radius: 16px;
  width: 16px;
  background-color: rgb(191, 97, 106); /* nord11 */
}

.window-tabbed-tab-icon {
  margin: 3px;
}

.window-floated-border {
  border-width: 3px;
  border-color: rgb(94, 129, 172); /* nord10 */
  border-style: solid;
  border-radius: 14px;
}

.window-tilepreview-tiled {
  border-width: 1px;
  border-color: rgba(143, 188, 187, 0.3); /* nord7 */
  border-style: solid;
  border-radius: 14px;
  background-color: rgba(143, 188, 187, 0.2);
}

.window-tilepreview-stacked {
  border-width: 1px;
  border-color: rgba(129, 161, 193, 0.3); /* nord9 */
  border-style: solid;
  border-radius: 14px;
  background-color: rgba(129, 161, 193, 0.2);
}

.window-tilepreview-swap {
  border-width: 1px;
  border-color: rgba(163, 190, 140, 0.4); /* nord14 */
  border-style: solid;
  border-radius: 14px;
  background-color: rgba(163, 190, 140, 0.4);
}

.window-tilepreview-tabbed {
  border-width: 1px;
  border-color: rgba(136, 192, 208, 0.3); /* nord8 */
  border-style: solid;
  border-radius: 14px;
  background-color: rgba(136, 192, 208, 0.2);
}