[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = Agni Datta
    email = dattadunga@gmail.com
    signingkey = 83AF83DA47DE7F22

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[gpg]
    format = openpgp

[core]
    editor = nvim
    pager = delta
    autocrlf = input
    preloadindex = true
    untrackedCache = true
    fsmonitor = true
    excludesfile = ~/.config/git/ignore

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    parallel = 0

[rebase]
    autoStash = true
    updateRefs = true

[merge]
    tool = nvimdiff
    conflictstyle = zdiff3

[diff]
    tool = nvimdiff
    colorMoved = default

[rerere]
    enabled = true

[maintenance]
    auto = true

[gc]
    writeCommitGraph = true

[credential]
    helper = manager-core

[color]
    ui = auto

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
    syntax-theme = Dracula

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    s = status -sb

    last = log -1 HEAD

    lg = log --graph \
        --pretty=format:'%C(yellow)%h%C(reset) - %C(cyan)%ad%C(reset) %s %C(green)(%cr)%C(reset) %C(bold blue)<%an>%C(reset)%d' \
        --date=short

    lgg = log --oneline --decorate --graph --all

    amend = commit --amend
    unstage = restore --staged
    fixup = commit --fixup
    squash = rebase -i --autosquash

    d = diff
    dc = diff --cached

    undo = reset --soft HEAD~1

    cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d"

[include]
    path = ~/.gitconfig.local

[url "git@git.overleaf.com:"]
    insteadOf = https://git.overleaf.com/

[credential "https://git.overleaf.com"]
	provider = generic
